
@font-face {

    font-family: "OpenSanLight";
    src: url(../fonts/OpenSans-Light.ttf) format("truetype");
}

@font-face {

    font-family: "OpenSanLightItalic";
    src: url(../fonts/OpenSans-LightItalic.ttf) format("truetype");
}

@font-face {

    font-family: "OpenSanRegular";
    src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {

    font-family: "OpenSanSemiBold";
    src: url(../fonts/OpenSans-Semibold.ttf) format("truetype");
}


*{
    font-family: 'OpenSanLight';
    -webkit-font-smoothing: subpixel-antialiased;
    color: #615757 ;
}

body{
  background-color: #F5F5F5;
}

header{
	height: 200px;
	text-align: center;
}

header div{
	margin:auto;
}

.leftbar{
	height: 100vh;
	background-color: white;
    border-right: 1px solid #E2E2E2;
}

.rightbar{
	height: 100vh;
	background-color:white;
}

.dropMenu button{
  width:100%;
}

.dropMenu ul{
  text-align: center;
  width:84%;
  margin-left:15px;
}

.dropMenu li{
  cursor: pointer;
}

.dropMenu span{
  float:right;
  margin-right: 15px;

}
